*,
*::before,
*::after {
	padding: 0;
	margin: 0;
	border: 0;
	box-sizing: border-box;
}
a {
	text-decoration: none;
  
}
ul,
ol,
li {
	list-style: none;
}
img {
	vertical-align: top;
}
h1,
h2,
h3,
h4,
h5,
h6 {
	font-weight: inherit;
	font-size: inherit;
}




html,
body{
    height: 100%;
    line-height: 1;
    font-size: 14px;
    color:#171717;
	font-family: 'PT Serif', serif;
	font-weight: 400;

}


.wrapper{
    min-height: 100%;
    overflow: hidden;
	display:flex;
	flex-direction: column;

}


._container{
    max-width: 1183px;
    margin:0px auto;
	padding:0 15px;
}

._container-header{
	max-width: 1760px;
	margin:0px auto;
	padding:0 15px;

}

@media (max-width:1900px){
	._container-header{
		max-width: 1460px;
	}
}

@media (max-width:1650px){
	._container-header{
		max-width: 1280px;
	}
}

@media (max-width:1350px){
	._container-header{
		max-width: 1190px;
	}
}


/* Header */

.header{
	position: absolute;
	width: 100%;
	top:0;
	left:0;
	z-index: 50;
	
}



.header__container{
	display:flex;
	justify-content: space-between;
	padding:34px 15px;
	align-items: center;
	box-sizing: content-box;
}
@media(max-width:479px){
.header__container{
	padding:20px 15px;
}

}

@media(max-width:450px){
	.header__container{
		padding-top:20px;
		padding-bottom: 0;
	}
}

.header__logo {
	
	margin-right:30px; /* security  */

}



.logo{
	display: block;
	position: relative;
	color:#171717;
	font-size:25px;
	text-transform: uppercase;
	font-weight: 700;
	line-height: 133%;
	letter-spacing: 2.5px;
}

@media(max-width:450px){
	.header__logo{
	
		margin: 0;
	}

	
}

.logo:after{
	content: "";
	position: absolute;
	background-color: #C9A96E;
	width: 100%;
	height: 6px;
	opacity: 35%;
	left:0;
	top:68.75%;
}
.header__nav {
	
}
.nav {
	padding:5px 0;
}

@media(max-width:990px){
	.nav{
		display: none;
	}
}
.burger{
	display: none;
	cursor: pointer;
}

@media(max-width:990px){
	.burger{
		display: block;
	}
}
.nav__burger{
	width: 40px;
	position: relative;
	
}

.menu{
	position: relative;
	display: block;
	width:45px;
	font-size: none;
	color:transparent;

	background-color: #171717;
	border-radius: 5px;
	height: 5px;
	
}
.menu::after,
.menu::before{
	content: "";
	position: absolute;
	display: block;
	width: 100%;
	height: 5px;
	background-color: #171717;
	border-radius: 5px;
}

.menu::before{
	top:10px;
}
.menu::after{
	bottom:10px;
}




.burger__menu{
	position: absolute;
	top:0;
	left:0;
	z-index: 1000;
}	







.nav__list {
	display: flex;
	flex-wrap:wrap;
}
.nav__item {
	font-size: 14px;
	
}

@media(max-width:580px){
	.nav__item{
		font-size: 18px;
	}
}


.nav__item:not(:last-child){
	margin-right: 34px;
	
}
.nav__link {
	line-height: calc(18.55/14*100%);
	
	color:#171717;
}

.nav__link:hover{
	text-decoration: underline;
}

._active-link{
	color:#C9A96E;
}


/* main */
.main {
	flex:1 1 auto;
	padding-top:100px;
}

@media(max-width:450px){
	.main{
		padding-top:60px;
	}
}
.main__article {
	
	position: relative;

	
}
.article {
	
}

/* изучить по видео !!!!!!! ._ibg .article__image .article__image img*/

/* Технич класс чтобысделатьизображение как фон */
._ibg{
	position: relative;
}

._ibg img{
	position: absolute;
	width: 100%;
	height: 100%;
	top:0;
	left:0;
	object-fit: cover;
}




.article__image{
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;	
	
}





@media (max-width: 1200px){
	.article__image img{
		object-position:60% 60%;
	}
}

@media (max-width: 920px){
	.article__image img{
		object-position:55% 65%;
	}
}



@media (max-width: 820px){
	.article__image img{
		
		/* object-fit: contain; */
		object-position: left top;
	}
}

@media (max-width: 600px){
	.article__image img{

		object-position: 50% 50%; 
	}
}

@media (max-width:400px){
	.article__image img{
		object-position: 60% 0%;
	
	}
}



.article__container {
	position: relative;
	z-index: 5;
}


.article__body{
	padding:490px 0 59px 0;
	color:#fff;
	max-width: 560px;
}



@media (max-width: 820px){
	.article__body{
		padding:100px 0px 59px 0px;
		
	}
}


@media (max-width: 490px){
	.article__body{
		padding:100px 0px 19px 0px;
		
	}
}






.article__name-theme {
	
	margin-bottom: 4px;

}

.article__name-theme a{
	font-family: 'PT Sans';
	font-weight: 400;
	font-size: 14;
	line-height: 129%;	
	text-transform: uppercase;
	color:#fff;
}
.article__title {

	font-weight:700;
	font-size: 40px;
	line-height: 125%;
	margin-bottom: 10px;
	}

@media (max-width: 820px){
	.article__title{
		font-size: 20px;
		
		
	}
	
}
.article__footer {
	display:flex;
	line-height: 132%;
	max-width: 283px;
	justify-content: space-between;
}
.article__date {
	
}
.article__author {
}
.author {
}

.author__by{
	color:#B4B4B4;
}
.author__link {
	color:inherit;
}
.article__comments {
	
}
.comments {
	display: flex;
	


}
.comments__num {
	margin-right: 3px;
	
}
.comments__link {
	color:inherit;
	display: block;
}



/* Articles*/

.articles {
	padding:60px 0 80px 0; 
}

@media(max-width:990px){
	.articles {
		padding:30px 0 30px 0; 
	}
}


.articles__container {
}
._container {
}
.articles__body {
	/* 0.35fr */
	display: grid;
	grid-template-columns: 1fr 0.35fr;
	column-gap: 130px;

}
@media(max-width:990px){
		.articles__body{
			column-gap: 0px;
			grid-template-areas: "addition"
									"content";
			grid-template-columns:100%;
			/* max-width: 800px; */
			margin: 0 auto;
			column-gap: 0px;
			
		}

		.content{
			grid-area: content;

		}
		.addition{
			/* display: flex; */
			
			grid-area: addition;

			
		}

		
}

.articles__content {

}
.content {
	
	

}

.content__posts {
	display:grid;
	grid-template-columns: 1fr 1fr;
	column-gap: 30px;
	
	
}

@media(max-width:990px){
	.content__posts{
		/* padding:0 55px; */
	}
}

@media(max-width:720px){
	.content__posts{
		grid-template-columns: 1fr;
		grid-template-rows: 1fr;
		column-gap: 0px;
	
	}
}
.content__post {
	margin-bottom: 30px;
	
}


.post,._post-shadow{

	box-shadow:0px 4px 4px  rgba(0, 0, 0, 0.25);

}

.post:nth-child(7n){
/* width: 100%; */
grid-column:span 2;

}

@media(max-width:720px){
	.post:nth-child(7n){
		/* width: 100%; */
		grid-column:1;
		
		}
}


.post__image {
	/* width: 100%; */
	
}

.post__image img{
	display: block;
	width: 100%;
	height: auto;
	

	/* max-height: 349px; */
}

.post__text {
	display: flex;
	flex-direction: column;
	justify-content: center;
	text-align: center;
	align-items: center;
	padding:15px 43px;
}

.post__text._size-text{
	padding:15px 10px;
}


/* стили category можно использовать повторно для правой колонки  */
.post__category {
	margin-bottom: 4px;
}

.category a{
	font-family: 'PT Sans';
	color:#C9A96E;
	font-size:12px;
	line-height: 129%;
	text-transform: uppercase;

}

.category a:hover{
	text-decoration: underline;
}






.post__title {
	margin-bottom:10px;
	
}
.post__title a{
	color:#171717;
}

.title-post {
	
	font-size:20px;
	line-height: 140%;
	/* max-width:285px; */
}






.title-post a:hover{
	text-decoration: underline;
}

.title-post._min-size{
	font-size: 18px;
	/* max-width:250px; */
	line-height: 144%;
}

@media(max-width:1154px){
	.title-post._min-size{
		font-size:12px;
		line-height: 120%;
	}
}

.post__footer{
	display: flex;
	font-size:12px;
	color:#666666;
	/* justify-content: space-between; */
	/* max-width: 166px; */

}

/* to switch pages */

.content__pages {
	display: flex;
	
	justify-content: center;
	align-items: center;
	
	margin-top:60px;
	

}


@media(max-width:720px){
	.content__pages {
		margin-top:10px;
		
	
	}
}
.pagination {
	display: flex;
	justify-content: space-between;
	background-color: #fff;
	border:2px solid #E5E5E5;
	/* padding:0px 25px; */
	font-family: 'HK Grotesk', sans-serif;
	line-height: 114%;
	text-transform: uppercase;
}

/* @media(max-width:650px){
	.pagination{
		width: 100%;
	}
} */
.pagination__item {

	/* display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center; */
	

}

.pagination__link{
	color:#171717;
	height: 50px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
.pagination__link:not(._button) {
	
	width: 50px;
	height: 50px;

}


@media(max-width:650px){
	.pagination__item:nth-child(6),
	.pagination__item:nth-child(5){
		display: none;
	}
}

@media(max-width:500px){
	.pagination__button{
		display: none;
	}
}





.pagination__link._button{
	display: flex;
	
	flex-direction: row;
	
}











.pagination__link:hover{
	text-decoration: underline;
	background-color:#A2A2A2;
	
	color:#fff;
	font-weight: 600;
	letter-spacing: 0.2px;
	background-color: #B1B1B1;
	box-shadow:3px 3px 4px  rgba(0, 0, 0, 0.25);
	transition: all .3s ease-in-out;
}







._pagintation-theme{
color:#A2A2A2;
}





.pagination__arrow._left{
	color:#A2A2A2;
}
.pagination__text:not(.old){
	padding-right:25px;
	padding-left:10px;
}

.pagination__text.old{
	color:#A2A2A2;
	padding-left:25px;
	padding-right:10px
}

.pagination__link:hover .pagination__text.old,
.pagination__link:hover .pagination__arrow._left{
	color:#fff;
	transition: all .2s ease-in-out;
}



/* Aside  .adition */



._menu-btn-theme{
	font-size:16px;
	text-align: center;
	font-weight: 400;
	padding:15px;
	width: 100%;
	border:2px solid #E5E5E5;
	margin-bottom: 20px;
	cursor: pointer;
	transition: all .2s ease-in-out;
}


@media(max-width:990px){
	._menu-btn-theme+.wrapper__posts{
	display: none;
}

}


._menu-btn-theme a{
	color:inherit
}

._menu-btn-theme:hover{
	color:#fff;
	font-weight: 600;
	letter-spacing: 0.2px;
	background-color: #B1B1B1;
	box-shadow:2px 2px 4px  rgba(0, 0, 0, 0.25);
	
}


/* Aside */
.addition{
	max-width: 270px;
}


@media(max-width:1154px){
	.addition{
		max-width: 190px;
	}
	
}

@media(max-width:990px){
	.addition{
		display: flex;
		justify-content:center;
		flex-wrap: wrap;
		max-width: none;
		align-items: center;
		/* width: 100%; */
	}

	.addition__item{
		width:150px;
		align-self: center;


	}
	.addition__item:not(:last-child){
		margin-right: 15px;
	}
	
}


@media(max-width:377px){
	.addition__item{
		width:100%;
		align-self: center;


	}

	.addition__item:not(:last-child){
		margin-right: 0;
	}

	
}
/* About author */


.article__date {
	/* font-size:12px;
	color:#666666; */
}
.date {
}
.article__author {
	margin-left: 12px;
	
}
.author {
}
.about-author__section{
	
}




.author__post{
	margin-bottom: 70px;
	text-align: center;
}
.author__by {
}
.author__link {
}
.link-author {
}
.articles__addition {
}
.addition {
}


.articles__about-author {
}
.about-author {
	max-width: 270px;
}

@media(max-width:377px){
	.about-author {
		max-width: none;
	}
}
.about-author__image {
}
.image {
}
.about-author__article {
	padding: 20px 20px 14px 20px
}
.about-author__title {
	font-weight: 700;
	font-size: 16px;
	margin-bottom: 4px;

}
.about-author__category{
	margin-bottom: 14px;
}
.about-author__category a{
	color:#B1B1B1;
	font-style: italic;
	line-height: 132%;

}
.about-author__text {
	font-family: "PT Sans";
	line-height: 171%;
	color:#666666;
	overflow:hidden;
	height: 65px;
	display: -webkit-box;
	-webkit-line-clamp: 3;
	-webkit-box-orient: vertical;
	margin-bottom: 14px;
	
  }


.about-author__text p{
	/* white-space: nowrap; */
	
	/* text-overflow: ellipsis; */
}

.next-read{
	padding:0;
	border:0;
	font: inherit;
	color:inherit;
	background-color: transparent;
	width: 100%;
	border-top: 2px solid #E5E5E5;
	padding-top:12px;
	padding-bottom:12px;

}

.next-read a{
	color:#C9A96E;
	text-transform: uppercase;
	transition: all .2s ease-in;
	font-size: 12px;
	line-height:132%;
	
}

.next-read:hover{
	color:#fff;
	font-weight: 600;
	letter-spacing: 0.2px;
	background-color: #B1B1B1;
	box-shadow:2px 2px 4px  rgba(0, 0, 0, 0.25);
	transition: all .2s ease-in;
}
.next-read:hover .next-read__link{
	color:#fff

}

/* categories */


.articles__categories{
	padding-bottom:70px;
}

@media(max-width:990px){

	.articles__categories{
		padding-bottom: 0;
	}
	}
	

.categories__list {
}
.categories__item {
	display:flex;
	justify-content: space-between;
	padding:15px 0;
	
}

.categories__item:first-child{
	padding-top: 15px;
}

.categories__item:not(:last-child){
	border-bottom:1px solid #E5E5E5;
}




.categories__link{
	color:#666666;
	font-weight: 400;

}

.categories__link:hover{
	text-decoration: underline;
}

._link-num{



}



/* social__media  */

.social {
	width: 100%;
	display: grid;
	grid-template-areas: 	"social-1 social-2 social-3"
							"social-4 social-5 social-6"
							"social-7 social-8 social-9";
	grid-template-rows:repeat(3,88px);
	grid-template-columns: repeat(3,88px);
	row-gap:3px;
	column-gap:3px;
	text-align: center;
	
}

@media(max-width:1154px){
	.social{
		grid-template-rows:repeat(3,32%);
		grid-template-columns: repeat(3,32%);
	}
	.social__item {
		padding-top:17px;
		padding-bottom: 17px;
	}
}


.social__link {
	color:#999999;
}
.fa-brands {
	color: #5A5A5A;
	font-size: 18px;
	
}
.fa-facebook-f {
}
.social__num {
	margin-top:6px;
}

@media(max-width:1154px){
	.social__num{
		display: none;
	}
}

div[class*="item-social"]{
	cursor: pointer;
	background-color: #F8F9FA;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	font-weight: 400;
	font-family: "PT Sans";
	font-size: 12px;
	/* padding-top:17px;
	padding-bottom:13px; */
	line-height: 129%;
	transition: all .5s ease-in-out;
}



div[class*="item-social"]:hover{
	background-color: #999999;
	
	text-decoration: underline;
	transition: all .5s ease-in-out;
}

div[class*="item-social"]:hover  .social__link,
div[class*="item-social"]:hover  .fa-brands{
	color: #F8F9FA;
	transition: all .5s ease-in-out;
	
}




.item-social-1 {
	grid-area:social-1;
}
.item-social-2 {
	grid-area:social-2;
}
.item-social-3 {
	grid-area:social-3;
}
.item-social-4 {
	grid-area:social-4;
}
.item-social-5 {
	grid-area:social-5;
}
.item-social-6 {
	grid-area:social-6;
}
.item-social-7 {
	grid-area:social-7;
}
.item-social-8 {
	grid-area:social-8;
}
.item-social-9 {
	grid-area:social-9;
}



/* aside tags */
.articles__tags{
	
	margin-top:70px;
}

@media(max-width:990px){.articles__tags{
	
	margin-top:0px;
}}


.tags{

	display:flex;
	
	flex-wrap: wrap;
	column-gap:10px;
	row-gap: 10px;
}


.tags__item{
	color:#666666;
	background-color: #F8F9FA;
	padding:6px 15px;
	font-weight: 400;

}




/*  Подвал сайта Footer*/

.footer {
	
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
.footer__instagram {
	

}
.instagram {
	
}
.instagram__title {
	text-align: center;
	font-size: 24px;
	margin-bottom: 39px;
	line-height: 133%;
}
.instagram__link {
	
	color:#171717;
}
.instagram__images {
	/* max-width: 1880px; */
	display: flex;
	justify-content: center;
	padding:0 20px;
	flex-wrap: wrap;
	margin-bottom:-20px;
	column-gap: 20px;
	padding-bottom:100px;
	
}
.instagram__link-img {
	display: block;
	margin-bottom:20px;

	/* flex:1 1 16.666%; */
}
/* .instagram__link-img:not(:last-child){
	margin-right: 20px;
} */

.instagram__link-img img{
	display: block;
	height: auto;
	max-width: 100%;
	/* max-width: 296px; */
}
.footer__container {
}
._container {
}
.footer__title {
	margin: 0 auto;
	max-width: 128px;
}

.footer__logo{
	
	max-width: 100%;

}

.footer__nav {
}
.footer__wrapper-list {
}
.footer__list {
}
._footer-list-nav {
}
.footer__link {
}
.footer__social {
}
._footer-list-social {
}
._footer-social-link {
}
.fa-brands {
}
.fa-facebook-f {
}
.footer__rights {
}