*,
*::before,
*::after {
	padding: 0;
	margin: 0;
	border: 0;
	box-sizing: border-box;
}
a {
	text-decoration: none;
  
}
ul,
ol,
li {
	list-style: none;
}
img {
	vertical-align: top;
}
h1,
h2,
h3,
h4,
h5,
h6 {
	font-weight: inherit;
	font-size: inherit;
}




html,
body{
    height: 100%;
    line-height: 1;
    font-size: 14px;
    color:#171717;
	font-family: 'PT Serif', serif;
	font-weight: 400;

}


.wrapper{
    min-height: 100%;
    overflow: hidden;
	display:flex;
	flex-direction: column;

}


._container{
    max-width: 1183px;
    margin:0px auto;
	padding:0 15px;
}

._container-header{
	max-width: 1760px;
	margin:0px auto;
	padding:0 15px;

}

@media (max-width:1900px){
	._container-header{
		max-width: 1460px;
	}
}

@media (max-width:1650px){
	._container-header{
		max-width: 1280px;
	}
}

@media (max-width:1350px){
	._container-header{
		max-width: 1190px;
	}
}


/* Header */

.header{
	position: absolute;
	width: 100%;
	top:0;
	left:0;
	z-index: 50;
	
}



.header__container{
	display:flex;
	justify-content: space-between;
	padding:34px 15px;
	align-items: center;
	box-sizing: content-box;
}
@media(max-width:479px){
.header__container{
	padding:20px 15px;
}

}

@media(max-width:450px){
	.header__container{
		padding-top:20px;
		padding-bottom: 0;
	}
}

.header__logo {
	display: block;
	position: relative;
	color:#171717;
	font-size:25px;
	text-transform: uppercase;
	font-weight: 700;
	line-height: 133%;
	letter-spacing: 2.5px;
	margin-right:30px; /* security  */

}

@media(max-width:450px){
	.header__logo{
	
		margin: 0;
	}

	
}

.header__logo:after{
	content: "";
	position: absolute;
	background-color: #C9A96E;
	width: 100%;
	height: 6px;
	opacity: 35%;
	left:0;
	top:68.75%;
}
.header__nav {
	
}
.nav {
	padding:5px 0;
}

@media(max-width:650px){
	.nav{
		display: none;
	}
}
.burger{
	display: none;
	cursor: pointer;
}

@media(max-width:650px){
	.burger{
		display: block;
	}
}
.nav__burger{
	width: 40px;
	position: relative;
	
}

.menu{
	position: relative;
	display: block;
	width:45px;
	font-size: none;
	color:transparent;

	background-color: #171717;
	border-radius: 5px;
	height: 5px;
	
}
.menu::after,
.menu::before{
	content: "";
	position: absolute;
	display: block;
	width: 100%;
	height: 5px;
	background-color: #171717;
	border-radius: 5px;
}

.menu::before{
	top:10px;
}
.menu::after{
	bottom:10px;
}




.burger__menu{
	position: absolute;
	top:0;
	left:0;
	z-index: 1000;
}	







.nav__list {
	display: flex;
	flex-wrap:wrap;
}
.nav__item {
	font-size: 14px;
	
}

@media(max-width:580px){
	.nav__item{
		font-size: 18px;
	}
}


.nav__item:not(:last-child){
	margin-right: 34px;
	
}
.nav__link {
	line-height: calc(18.55/14*100%);
	
	color:#171717;
}

.nav__link:hover{
	text-decoration: underline;
}

._active-link{
	color:#C9A96E;
}


/* main */
.main {
	flex:1 1 auto;
	padding-top:100px;
}

@media(max-width:450px){
	.main{
		padding-top:60px;
	}
}
.main__article {
	
	position: relative;

	
}
.article {
	
}

/* изучить по видео !!!!!!! ._ibg .article__image .article__image img*/

/* Технич класс чтобысделатьизображение как фон */
._ibg{
	position: relative;
}

._ibg img{
	position: absolute;
	width: 100%;
	height: 100%;
	top:0;
	left:0;
	object-fit: cover;
}




.article__image{
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;	
	
}





@media (max-width: 1200px){
	.article__image img{
		object-position:60% 60%;
	}
}

@media (max-width: 920px){
	.article__image img{
		object-position:55% 65%;
	}
}



@media (max-width: 820px){
	.article__image img{
		
		/* object-fit: contain; */
		object-position: left top;
	}
}

@media (max-width: 600px){
	.article__image img{

		object-position: 50% 50%; 
	}
}

@media (max-width:400px){
	.article__image img{
		object-position: 60% 0%;
	
	}
}



.article__container {
	position: relative;
	z-index: 5;
}
._container {
}

.article__body{
	padding:490px 0 59px 0;
	color:#fff;
	max-width: 560px;
}



@media (max-width: 820px){
	.article__body{
		padding:100px 0px 59px 0px;
		
	}
}


@media (max-width: 490px){
	.article__body{
		padding:100px 0px 19px 0px;
		
	}
}






.article__name-theme {
	font-family: 'PT Sans';
	font-weight: 400;
	font-size: 14;
	line-height: 129%;	
	text-transform: uppercase;
	margin-bottom: 4px;

}
.article__title {

	font-weight:700;
	font-size: 40px;
	line-height: 125%;
	margin-bottom: 10px;
	}

@media (max-width: 820px){
	.article__title{
		font-size: 20px;
		
		
	}
	
}
.article__footer {
	display:flex;
	line-height: 132%;
	max-width: 283px;
	justify-content: space-between;
}
.article__date {
	
}
.article__author {
}
.author {
}

.author__by{
	color:#B4B4B4;
}
.author__link {
	color:inherit;
}
.article__comments {
	
}
.comments {
	display: flex;
	


}
.comments__num {
	margin-right: 3px;
	
}
.comments__link {
	color:inherit;
	display: block;
}



/*  Подвал сайта */

.footer{

}